/* Set some basic styles for the page */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #f8f8f8;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
}

#instructions {
  padding-top: 20px;
  font-size: 1.2em;
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
  color: #999;
}

/* Style the file pickers */

#file-pickers {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#file-pickers button {
  margin-right: 1em;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style the canvases */

.canvases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.canvases div {
  margin: 1em;
}

.canvases > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.canvases > div > div {
  padding: 0.3em;
}

canvas {
  width: 128px;
  height: 128px;
  border: 1px solid #ccc;
}

#sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#blur-slider-div, #size-slider-div {
  display: flex;
  align-items: center;
}

#size-slider-div input[type="range"] {
  margin-left: 10px;
}

#blur-slider-div input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
}

#blurSlider {
  /* width: 30%; */
}

#blurValueDisplay {
  /* font-size: 1.2em;
  text-align: center;
  margin-top: 0.5em; */
}

/* Style the buttons */

button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}


/* Hide the download buttons and more by default */

#processButton,
#sliders
{
  display: none;
}
